body{
    height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 700px;
    width: 900px;
    border:1px solid black;
    padding:10px;
    display:flex;
    flex-direction: column;
    gap:10px;
}

.header{
    border:1px solid red;
    height:50px;
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.header-element{
    border:1px solid green;
    width: 30%;
    height: 80%;
    display:flex;
    justify-content: center;
    align-items: center;
 
}

.rooms-container{
    border:1px solid red;
    height: 80%;
    width:97.6%;
    padding:10px;
}

.room-line{
    display:flex;
    justify-content: space-around;
    align-items: center;
    border:solid 1px green;
    height: 35px;

}
.room-line-element{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex:1;
    
}
.room-line-middle{
    background-color:#2b4353 ;
}

.room-line-laterals{
    background-color: #9cd3d3;
}